/*font import*/
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/*page reset*/
*{
    padding: 0 !important;
    margin: 0 !important;
}
/*mobile first*/
/*<576px*/
html{
    font-size: 20px !important;
}
.tituloPrincipal{
  font-size: 2rem;
}
.oneScreen{
    height: 100vh;
}

.fechaCard{
    height: 10vh;
}
.btnFiltro{
  height: 2rem;
  width: 2rem;
}
.rotar180{
  transform: rotate(180deg);
}

.cartelNoHayEventos{
  height: 20vh;
}

.vh-56 {
    height: 56vh !important;
}


/*font classes*/
.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

@media (min-width: 768px) {
  html{
    font-size: 30px !important;
  }
   .lblFiltro{
    font-size: 1.4rem !important;
  }
}


@media (min-width: 992px) {
  html{
    font-size: 27px !important;
  }

    .sectionTitle{
    height: 70%;
  }

  .sectionFiltros{
    height: 20%;
    justify-content: center;
  }

  .tituloPrincipal{
    font-size: 1.8rem;
  }

  .btnFiltro{
    height: 1.5rem;
    width: 1.5rem;
  }

  .lblFiltro{
    font-size: 1.1rem !important;
  }

  .contenedorFiltro{
    width: 75%;
  }

  #fechasContainer{
    height: 90%;
  }
}


@media (min-width: 1200px) {
  html{
    font-size: 28px !important;
  }
}